# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db

# Environment variables
.env

# Flask
instance/
*.db

# Virtual environment
venv/
ENV/
env/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Logs
*.log

# Coverage reports
.coverage
htmlcov/
